/tema3/SoquetsTCP/nbproject/private/
/tema3/SoquetsTCP/build/
/tema3/SocketsUDP/nbproject/private/
/tema3/ejercicioCombinado/nbproject/private/
/tema3/ejercicioCombinado/build/
/tema3/CochesArquitectura/nbproject/private/
/tema3/CochesArquitectura/build/
/tema3/Sockets/nbproject/private/
/tema3/Sockets/build/
/PagosRUAT/nbproject/private/
/PagosRUAT/build/
/PatronesCreacionales/nbproject/private/
